.calendar_container {
  margin-left: 20px;
} 

.react-calendar__tile--active {
  background-color: rgb(183, 244, 255) !important;
  color: rgb(255, 255, 255) !important;                     
}

.react-calendar__tile--now {
  background-color: rgb(246, 255, 0) !important; 
  color: black !important;
}

.CalendarContainer .calendar_container {
  flex: 1;       
  max-width: 50%; 
}


.react-calendar {
  background-color: transparent !important;
}


.react-calendar {
  border: none;
  font-family: 'Gasoek One', sans-serif;
  width: 100%;          
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  border-radius: 10px;
}

.react-calendar__tile {
  width: 100px;                
  min-height: 120px;         
  font-size: 16px;             
  position: relative;          
  display: flex;               
  flex-direction: column;      
  justify-content: start;      
  align-items: center;         
  padding-top: 5px;          
  box-sizing: border-box;    
}


.stamp_img {
  width: 130px;            
  height: 90px;   
  margin-top: -5px;
  margin-left: -4px;
}

